





#ClassroomConfig{
    background-color: #ececec;
    /*border: solid thin #333333;*/
    width: 725px;
    margin-left: 25px;
    height: 160px;
    
}



.ClassConfigTitle{
    font-size: 1.1em;
    margin-bottom: 10px;
    /*font-weight: bold;*/
    
}

.ClassroomItem{
    float: left; margin: 5px 5px 5px 5px; display: block;
    font-family: ubuntu;
    font-size: 0.8em !important;
}

.FormInput{
    height: 15px;
    margin-top: 3px;
    border: solid 1px #aaaaaa;
    background: -webkit-linear-gradient(top, #efefef 0%,#ffffff 100%);
}

/* Client Config*/


#ClientContent{
    height: 270px;
    width: 750px;
    margin-left: 10px;
    margin-top: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    
}

.ClientConfig{
    max-height:120px;
    }
.ClientDetails{
    /*padding: 0px 0px 25px 0px;*/
    font-size: 0.8em;
    width: 700px;
    /*height: 150px;*/
    float: left;
    display: none;
    /*display: block;*/
    border: #333333 solid thin;
    border-top: hidden;
    border-radius: 0px 0px 3px 3px;
    background: -webkit-linear-gradient(top, #eeeeee 0%,#ffffff 100%);
    
}
.ClientLine{
    float: left;
    clear: both;
    display: block;
}

.ClientLineInfo{
    float: left;
    clear: both;
    display: none;
    color: #f55707;
    padding-top: 0px;
    margin-top:-10px;
    margin-left:360px;
}

.ClientRow{
    text-shadow: 0px 1px 1px #333333;
    width: 680px;
    background: -webkit-linear-gradient(top, #2f92f5 0%,#89d8ff 100%);
    color: #ffffff;
    float: left;
    clear: left;
    padding: 1px 5px 1px 15px;
    font-size: 0.9em;
    font-weight: 600;
    margin-top:1px;
    border-radius: 3px 3px 0px 0px;
    border: thin solid #333333;
}

.ClientRowArrow{
    /*width: 20px;*/
    /*padding: 0px 0px 0px 25px;*/
    display: compact;
    float: left;
    }
.ClientRowArrow{cursor: pointer; }
.NewClientRow{
    text-shadow: 0px 1px 1px #333333;
    width: 680px;
    color: #ffffff;
    float: left;
    clear: both;
    padding: 1px 5px 1px 15px;
    font-size: 0.9em;
    font-weight: 600;
    margin-top:1px;
    background: -webkit-linear-gradient(top, #7aaf0f 0%,#add737 100%);
    border-top: solid thin #7aaf0f;
    border-bottom: solid thin #7aaf0f;

    border-radius: 3px 3px 0px 0px;
    border: thin solid #333333;
    
    }
.NewClientRow:hover{cursor: pointer;}

.ClientItem{ float: left; margin: 10px 5px 10px 5px; display: block; }
.ClientItemCheckBox{ float: left;  margin: 0px 5px 0px 5px; padding-bottom: 15px;}
/*.ClientItemBlocked{ float: left; margin: 10px 5px 10px 5px; }*/

.ButtonDeleteRight{
    float: right; margin: 0px 20px 0px 0px !important; padding: 0px 10px 0px 25px !important; z-index: 1;
    background-image: url('images/deleteclient.png');  background-repeat: no-repeat;background-position: left center;}
.ButtonDeleteRight:hover{cursor: pointer;}

.NewClient{background-image: url('images/addclient.png');  background-repeat: no-repeat;background-position: left center;}
.SaveChanges{background-image: url('images/applychangeswhite.png');  background-repeat: no-repeat;background-position: left center;}

/*
.ButtonDeleteRight{
    text-shadow: 0px 1px 1px #000000; 
    width: 50px;
    background: -webkit-linear-gradient(top, #2f92f5 0%,#89d8ff 100%);
    border-top: solid thin #2f92f5;
    border-bottom: solid thin #2f92f5;
    color: #ffffff;
    clear: right;
    font-size: 0.9em;
    font-weight: 700;
    float: right; margin: 1px 20px 0px 0px !important; padding: 5px 15px 7px 50px !important; z-index: 1;
    
    
    }
*/