/* LOGIN CONTAINTER */

html, body {
margin:0;
padding:0;
height:100%;
}

#ImageDesktop{
    background-size: cover;
    /*margin: 20px;*/
    border: solid thin #000000;
    /*padding: 0px;*/
    bottom: 20px;
    top: 120px;
    left: 20px;
    right: 20px;
    position: absolute;
}

.Desktop{
    background-image: url('images/desktop.png');
}
 
.Infantil{
    background-image: url('images/infantil.png');
}   

.iconContainer{
    border-radius: 5px;
    float: left;
    width: 56px;
    padding: 4px;
}

.ApplyiconContainer{
    border-radius: 5px;
    float: left;
    width: 136px;
    padding: 4px;
}

.shellWindowContainer{
    border-radius: 3px;
    border: solid thin #000000;
    background: -webkit-linear-gradient(top,  #adada2 0%,#e1e1de 100%); 
    padding: 3px;
    padding-bottom: 30px;
    border-radius: 2px;
    position: fixed;
    left: 100px;
    top: 200px;
    width: 600px;
    height: 320px;
    float:left;
    padding: 2px;
}
.shellTopContainer{
    text-align: center;
    font-size: 0.8em;
    font-family: ubuntu;
    font-weight: bold;
    border-radius: 3px;
    height:20px;
    width: 599px;
    margin: 0px;
    border-radius: 3px 3px 0 0;
    background-image:url('images/btntop.png'), -webkit-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
    background-repeat: no-repeat;    
}

.shellContainer{
    /*visibility: hidden;*/
    background:#000000;
    color:#ffffff;
    float: left;
    font-family: monospace;
    font-size: 0.8em;
    text-align:justify;
    text-justify:inter-word;
    overflow: auto;
    width: 599px;
    margin: 0px;
    height: 273px;
    border-radius: 0 0 3px 3px;   
}

.shellBottomContainer{
    text-align: center;
}


.iconContainer:hover{
    background: rgba(200,200,250,0.7);
    border:solid thin #d5d5ff;
    cursor: pointer;
    }
    
.ApplyiconContainer:hover{
    background: rgba(200,200,250,0.7);
    border:solid thin #d5d5ff;
    cursor: pointer;
    }

.iconImage{
    float: left;
    width: 56px;
    /*padding: 4px;*/
    /*height: 70px;*/
}
.iconImageApply{
    float: left;
}

.iconText{
    text-shadow: 0px 0px 2px #000000; 
    width: 100%;
    font-family: ubuntu;
    font-size: 0.8em;
    color: #ffffff;
    text-align: center;
    
}

.WaitingWindow{
    display: none;
    position: absolute; 
    background-color: #000000;
    /*z-index: 1;*/
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

#WaitingMessage{
    text-align: center;
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
    
    text-shadow: 0px 0px 10px #ffffff;
    color: #ffffff;

    opacity: 1 !important;
    font-size: 1.5em;
}

#CloseButton{
    font-size: 1.2em;
    color: #ffffff;
    width: 100px;
    opacity: 1 !important;
    background-color: #4dafff;
    height: 35px;
    margin: 40px 10px 10px 180px;
    border: solid thin #2f92f5;
    border-radius: 2px;
    font-family: ubuntu;
    padding: 5px 10px 0px 10px;

}
#CloseButton:hover{
    cursor:pointer !important;
    background-color: #2f92f5 !important;
}

/*
.InstallCheckBox{ float: left;  margin: 0px 5px 0px 5px; padding-bottom: 15px;}

.MetaConfig{
    max-height:120px;
    }

#ClientContent{margin-top: 20px;}


.PgkItem{
    float: left;
    width: 200px;
}

.pkgInstalled{
    float: left;
    color: #008800;
    font-size: 1em;
    margin-left: 25px;
    font-weight: bold;
    }

.MetaDetails{
    font-size: 0.9em;
    height: 100px;
    display: none;
}
.MetaLine{
    margin:5px 0px 5px 20px;
    float: left;
    clear: both;
    display: block;
}

.MetaRow{
    text-shadow: 0px 1px 1px #cccccc;
    width: 100%;
    background: #ffffff;
    /*border-bottom: solid 20px #888888;* /
    color: #333333;
    float: left;
    clear: left;
    padding: 1px 5px 1px 15px;
    font-size: 0.9em;
    font-weight: 600;
    margin-top:5px;
}

.MetaRowArrow{
    display: compact;
    float: left;
    }
.MetaRowArrow{cursor: pointer; }


/*
 *
 
 
.NewClientRow{
    text-shadow: 0px 1px 1px #000000; 
    width: 100%;
    color: #ffffff;
    float: left;
    clear: both;
    padding: 1px 5px 1px 15px;
    font-size: 0.9em;
    font-weight: 700;
    margin-top:1px;
    background: -webkit-linear-gradient(top, #7aaf0f 0%,#add737 100%);
    border-top: solid thin #7aaf0f;
    border-bottom: solid thin #7aaf0f;
    
    }
.NewClientRow:hover{cursor: pointer;}



.ButtonDeleteRight{
    float: right; margin: 0px 20px 0px 0px !important; padding: 0px 10px 0px 25px !important; z-index: 1;
    background-image: url('images/deleteclient.png');  background-repeat: no-repeat;background-position: left center;}
.ButtonDeleteRight:hover{cursor: pointer;}

.NewClient{background-image: url('images/addclient.png');  background-repeat: no-repeat;background-position: left center;}
.SaveChanges{background-image: url('images/applychangeswhite.png');  background-repeat: no-repeat;background-position: left center;}

/*
.ButtonDeleteRight{
    text-shadow: 0px 1px 1px #000000; 
    width: 50px;
    background: -webkit-linear-gradient(top, #2f92f5 0%,#89d8ff 100%);
    border-top: solid thin #2f92f5;
    border-bottom: solid thin #2f92f5;
    color: #ffffff;
    clear: right;
    font-size: 0.9em;
    font-weight: 700;
    float: right; margin: 1px 20px 0px 0px !important; padding: 5px 15px 7px 50px !important; z-index: 1;
    
    
    }
*/