/* LOGIN CONTAINTER */



#LoginContainer{
    background-image: url('images/bgleft800.png');
    width: 800px;
    height: 600px;
}

#LoginForm{
    float:right;
    clear: both;
    margin: 12px 30px 0px;
    padding: 20px 25px 15px;
}

#AppDescription{
    font-size: 0.9em;
}

.FormTitle{
    padding: 20px 0px 15px;
}

.FormSmalText{
    padding: 0px 0px 25px 0px;
    font-size: 0.8em;
}
.FormText{
    font-weight: normal;
    padding: 10px 0px 0px 0px;
    display: block;
    font-size: 1em;
}
.FormInput{
    width: 100%;
    height: 24px;
    font-size: 1em;
    direction: ltr;
}
    
#InitialWindow{
    display: none;
    float:right;
    clear: both;
    margin: 12px 30px 0px 300px;
    padding: 20px 25px 15px;
    text-align: justify;
}

#ErrorLoginMessage{
    font-size: 0.8em;
    color: #ff4444;
}

.ServerBoxContainer{
    margin-top:10px;
}
.ServerBox{
    display: none;
    padding: 5px;
    background: #eeeeee;
    border: thin solid #888888;
    box-shadow: inset 0px 0px 8px #ccc;

}

.ServerTabContainer{
    box-shadow: inset 10px 4px 3px  -1px #ccc;
    border-top: thin solid #888888;
}

.ServerTab:focus{
    background: #ffffee;
    outline: 0;    
}

.ServerTab:hover{
    cursor:pointer;
    background-color: #dddddd;
    }

.ServerTab{
    width: 100px;
    font-size: 0.8em;
    background: #eeeeee;
    box-shadow: 0px 1px 1px #aaaaaa;
    border-bottom: thin solid #888888;
    border-left: thin solid #888888;
    border-right: thin solid #888888;
    border-radius: 0px 0px 5px 5px;
}


/* Buttons */
.Login{float:right; background-image: url('images/userwhite.png'); background-repeat: no-repeat;background-position: left center;}

.BigButton{
    float: right;
    width: 80px !important;
    height: 40px !important;
    margin: 50px 5px 5px 5px; background-color: #4dafff;
    color: #ffffff;
    border: solid thin #2f92f5; border-radius: 2px;font-size: 1.2em;
    font-family: ubuntu;
    padding: 60px 15px 10px 15px;
    text-align: center;
    }

.BigButton:focus{
    outline: 0;
    opacity: 0.7;
    /*box-shadow: 1px 1px 3px #000000;*/
}

.BigButton:hover{
    cursor:pointer; background-color: #2f92f5;
    }

    /*
.BigButtonSel{
    float: left;
    width: 80px !important;
    height: 80px !important;
    margin: 10px; background-color: #959595;
    color: #ffffff;
    border: solid thin #e0e0e0; border-radius: 2px;font-size: 1.2em;
    font-family: ubuntu;
    padding: 5px 10px 0px 35px;

    }
    
.BigButtonSel:hover{cursor:arrow;}    
*/
    
.ButtonMirror{
    background-image: url('images/bigmirrorwhite.png');
    background-repeat: no-repeat;background-position: center 10px;
    background-color: #95e632;
    border-color: #75e115;}
.ButtonMirror:hover{background-color: #75e115;}
.ButtonImages{
    background-image: url('images/bigimagewhite.png');
    background-repeat: no-repeat;background-position: center 10px;}
.ButtonClients{
    background-image: url('images/bigclientswhite.png');
    background-color: #f9c013;
    border-color: #eaa00b;
    background-repeat: no-repeat;background-position: center 10px;}
.ButtonClients:hover{background-color: #eaa00b;}
.ButtonNetinst{
    background-image: url('images/bignetinstwhite.png');
    background-color: #7b34c3;
    border-color: #54159b;
    background-repeat: no-repeat;background-position: center 10px;}
.ButtonNetinst:hover{background-color: #54159b;}

.unavailable{background-color: #cccccc !important; border-color: #aaaaaa !important;}
.unavailable:hover{background-color: #aaaaaa !important; cursor: default;}



