/* LOGIN CONTAINTER */


.InstallCheckBox{ float: left;  margin: 0px 5px 0px 5px; padding-bottom: 15px;}

.MetaConfig{
    max-height:120px;
    }

#ClientContent{margin-top: 20px;}


.PgkItem{
    float: left;
    width: 200px;
}

.pkgInstalled{
    float: left;
    color: #008800;
    font-size: 1em;
    margin-left: 25px;
    font-weight: bold;
    }

.MetaDetails{
    font-size: 0.9em;
    height: 100px;
    display: none;
}
.MetaLine{
    margin:5px 0px 5px 20px;
    float: left;
    clear: both;
    display: block;
}

.MetaRow{
    text-shadow: 0px 1px 1px #cccccc;
    width: 100%;
    background: #ffffff;
    border-bottom: solid thin #2f92f5;
    color: #333333;
    float: left;
    clear: left;
    padding: 1px 5px 1px 15px;
    font-size: 0.9em;
    font-weight: 700;
    margin-top:1px;
}

.MetaRowArrow{
    display: compact;
    float: left;
    }
.MetaRowArrow{cursor: pointer; }


/*
 *
 
 
.NewClientRow{
    text-shadow: 0px 1px 1px #000000; 
    width: 100%;
    color: #ffffff;
    float: left;
    clear: both;
    padding: 1px 5px 1px 15px;
    font-size: 0.9em;
    font-weight: 700;
    margin-top:1px;
    background: -webkit-linear-gradient(top, #7aaf0f 0%,#add737 100%);
    border-top: solid thin #7aaf0f;
    border-bottom: solid thin #7aaf0f;
    
    }
.NewClientRow:hover{cursor: pointer;}



.ButtonDeleteRight{
    float: right; margin: 0px 20px 0px 0px !important; padding: 0px 10px 0px 25px !important; z-index: 1;
    background-image: url('images/deleteclient.png');  background-repeat: no-repeat;background-position: left center;}
.ButtonDeleteRight:hover{cursor: pointer;}

.NewClient{background-image: url('images/addclient.png');  background-repeat: no-repeat;background-position: left center;}
.SaveChanges{background-image: url('images/applychangeswhite.png');  background-repeat: no-repeat;background-position: left center;}

/*
.ButtonDeleteRight{
    text-shadow: 0px 1px 1px #000000; 
    width: 50px;
    background: -webkit-linear-gradient(top, #2f92f5 0%,#89d8ff 100%);
    border-top: solid thin #2f92f5;
    border-bottom: solid thin #2f92f5;
    color: #ffffff;
    clear: right;
    font-size: 0.9em;
    font-weight: 700;
    float: right; margin: 1px 20px 0px 0px !important; padding: 5px 15px 7px 50px !important; z-index: 1;
    
    
    }
*/