/* TOP MENU */

.MiniButtonContainer{
    /*clear: both;*/
    float: left;
    color: #000000;
    margin: 5px 1px 0px 1px;
    font-family: ubuntu;
    font-size: 1.1em;
}
/*.MiniButtonText{
    visibility: hidden;
}*/

.MiniButton{
    float: left;
    /*width: 16px !important;
    height: 16px !important;*/
    width: 120px;
    height: 16px;
    background-color: #4dafff;
    color: #ffffff;
    /*margin: -3px 0px 0px 5px;*/
    
    border: solid thin #2f92f5; border-radius: 5px 5px 0px 0px;font-size: 1.2em;
    text-align: center;
    }
    

.MiniButton:hover{
    cursor:pointer; background-color: #2f92f5;
    }

.MiniButtonList{
    float: left; width: 100%; font-size: 9px; ; margin-top: 90px;
    border-bottom: solid thin #333333;
    box-shadow: 1px 1px 3px #cccccc;
}



.ButtonMirror{
  /*  background-image: url('images/bigmirrorwhite.png');
    background-repeat: no-repeat;background-position: left top;* /
    background-color: #95e632;
    border-color: #75e115;*/}
.ButtonMirror:hover{/*background-color: #75e115;*/}
.ButtonImages{
    /*background-image: url('images/bigimagewhite.png');
    background-repeat: no-repeat;background-position: left top;*/}
.ButtonClients{
    /*background-image: url('images/bigclientswhite.png');
    background-repeat: no-repeat;background-position: left top;* /
    background-color: #f9c013;
    border-color: #eaa00b;*/
    }
.ButtonClients:hover{/*background-color: #eaa00b;*/}

.unavailable{background-color: #cccccc !important; border-color: #aaaaaa !important;}
.unavailable:hover{background-color: #aaaaaa !important; cursor: default;}

