html{
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-box-sizing: border-box; 
}

body
{
    padding: 0px;
    margin: 0; height: 100%; font-family: "Ubuntu Light"; color: #000;
    #background-image: url('images/back.png');
    #background-repeat: repeat;
}

.Container{
    /*visibility: hidden;*/
    display: none;
    padding: 0px;
    margin: 0px;
}

#top{
    
    position: relative;
    height: 100px;
    background-image: url('images/top2.png');
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  

}

#content{
    height: 450px;
    /*background: #eeeeee;*/
    overflow-y: auto;
}

#aa{ height: 1000px;}

#bottom{
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: block;
    
    height: 20px;
    background: #eeeeee;
    border-top: thin solid #000000;
    font-size: 12px;
    overflow-y: auto;
    padding-top: 3px;
    box-shadow: inset 0px 4px 2px  -1px #cccccc;

}

/*  List of Images  */

/*.ImageRow{clear: both; float: left; height: 110px; width: 100%; border-bottom: thin #000000 solid;}*/
.ImageRow{clear: both; float: left;
        height: 110px; width:98%;
        border: thin #e5e5e5 solid; margin: 5px;
        background: #f1f1f1;
        }
.ImageRow:hover{background: #e5e5e5; border-color: #e5e5e5;}
.ImageImage{clear: left; float: left; width: 90px; height: 100px; margin: 5px;}
.ImageDetail{float: left; width: 560px;}

.ImageStatus{margin-top: 5px;clear: right; float: left; width: 80px; height: 90px; text-align: center; font-size: 0.7em; color: #006600;}
.ImageName{clear: both; float: left; width: 100%; font-size: 20px; }
.ImageDesc{clear: both; float: left; width: 100%; font-size: 12px; cursor:pointer;}
.ImageDesc:hover{color: #87ceeb;}
.llx-version{font-size: 0.7em; padding-left: 10px; color: #333333;}

/* UI Buttons */

.ButtonList{clear: both; float: left; width: 100%; font-size: 12px; }
.Button{
    float: left; width: auto;
    height: 25px;
    margin: 10px; background-color: #4dafff;color: #ffffff;
    border: solid thin #2f92f5; border-radius: 2px;font-size: 1.2em;
    font-family: ubuntu;
    padding: 5px 10px 0px 35px;}
.ButtonSel{ /* Grey Button */
    float: left; width: auto;
    height: 25px;
    margin: 10px; background-color: #b9b9b9 !important;color: #ffffff;
    border: solid thin #9b9b9b !important; border-radius: 2px;font-size: 1.2em;
    font-family: ubuntu;
    padding: 5px 10px 0px 35px;}
    
.ButtonSel:hover{cursor:arrow; background-color: #b9b9b9 !important;}

/*.Install{background-image: url('images/installwhite.png');  background-repeat: no-repeat;background-position: left center;}
.Update{background-color: #9ee118; border-color: #7dbb02;background-image: url('images/updatewhite.png'); background-repeat: no-repeat;background-position: left center;}
.Update:hover{background-color: #7dbb02 !important;}
.Add{background-color: #f89a1e; border-color: #de8a1b;background-image: url('images/packageswhite.png'); background-repeat: no-repeat;background-position: left center;}
.Add:hover{background-color: #de8a1b !important;}
.Delete{background-color: #ff1a00; border-color: #cc0000;background-image: url('images/deletewhite.png'); background-repeat: no-repeat;background-position: left center;}
.Delete:hover{background-color: #cc0000 !important;}
*/

.Install{background-image: url('images/installwhite.png');  background-repeat: no-repeat;background-position: left center;}
.Update{background-image: url('images/updatewhite.png'); background-repeat: no-repeat;background-position: left center;}
.Updateable{border-color: #e18113 !important; background-color: #f59f1d !important;}
.Add{background-image: url('images/packageswhite.png'); background-repeat: no-repeat;background-position: left center;}
.Adv{background-image: url('images/advancedwhite.png'); background-repeat: no-repeat;background-position: left center;}
.Delete{background-color: #e51212; border-color: #cf1111; background-image: url('images/deletewhite.png'); background-repeat: no-repeat;background-position: left center;}
.DeleteSel{background-image: url('images/deletewhite.png'); background-repeat: no-repeat;background-position: left center;}
.Delete:hover{background-color: #cf1111 !important;}
/*.Delete{background-color: #e51212; border-color: #cf1111;background-image: url('images/deletewhite.png'); background-repeat: no-repeat;background-position: left center;}
.Delete:hover{background-color: #cf1111 !important;}*/
/*.Delete{background-image: url('images/deletewhite.png'); background-repeat: no-repeat;background-position: left center;}*/


.Button:hover{cursor:pointer; background-color: #2f92f5;}
.imgButton{float: left; clear: left; position: relative;}
.ButtonText{float: left; clear: right; margin-top: 3px; position:relative;}
.tip{background: #ffffee; position: static; left: -10px; top: -10px; width:50px; border: solid thin; float: left; z-index: 10;}
.tip:hover{visibility: visible; background: #00ffee; position: static; left: -10px; top: -10px; width:50px; border: solid thin; float: left; z-index: 10;}
/*.imgButton:hover{border-radius: 20px; box-shadow: 0px 0px 20px #ffff11;cursor:pointer;}*/


.ImageImageUninstalled{clear: left; float: left; width: 90px; height: 100px; margin: 5px;}
.ImageDetailUninstalled{clear: right; float: left; width: 650px;}
.ImageNameUninstalled{clear: both; float: left; width: 100%; font-size: 20px; }
.ImageDescUninstalled{clear: both; float: left; width: 100%; font-size: 12px; cursor:pointer;}
.ButtonGrey{float: left; width: 42px; height: 42px; margin: 10px; padding: 5px;}
