[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=LliureX LTSP Manager
Name[es]=Gestor de Lliurex LTSP
Name[ca_ES.UTF-8@valencia]=Gestor de Lliurex LTSP

Comment=Image Manager for LTSP light clients
Comment[es]=Gestor de imágenes LTSP para clientes ligeros
Comment[ca_ES.UTF-8@valencia]=Gestor d'imatges LTSP per a clients lleugers
Exec=python /usr/share/lliurex-ltsp-admin/LliureXLTSPAdmin.py
Terminal=false
Icon=/usr/share/icons/X-ltsp.png
Type=Application
GenericName=LtspClientInfo
Categories=Settings, LliureX-Administration;
